@media only screen and (max-width: 767px) {

  .title {
    margin-top: 46px;
    margin-bottom: 20px;
  }
  .cardNameContent {
    position: absolute;
    bottom: 25px;
    right: 10px;
    }

  .cardName {
    color:white;
    margin-bottom: 5px;
    font-style: normal;
    font-weight: bold;
    font-size: 1.6em;
    font-family: 'Roboto';
    text-align: end;
    background: rgba(0,0,0,0.4);
    }

    .cardNameButton Button {
     background: #1A5597;
    color: white;
    }
  
    

    .cardNameContentdos {
    position: absolute;
    display: flex;
    justify-content: right;
    bottom: 20px;
    font-weight: 600;
  font-size: 15px;
  border-radius: 2px;
  font-family: 'Roboto';
  letter-spacing: 0.9px;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 94%;
    }

     .cardNamedos {
    position: relative;
    background: rgba(255,255,255,0.6);
    padding: 2px 3px;
    display: flex;
    margin-left: 7px;
    margin-right: 13px;
    font-size: 1.3em;
    align-items: center;
    align-self: center;
    border-radius: 2px;
    }

  .cardNameButtondos  Button {
    background: #FD384C;
    border-radius: 14px;
    color: white;
    }
}


@media only screen and (min-width: 1280px){

  .cardsContainer {
    display: flex;
    margin: 0 auto;
    width: 86%;
  }
  .cardNameContent {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-bottom: 126px;
    margin-left: 216px;
    }

  .cardName {
    padding: 10px;
    position: relative;
    background: rgba(255,255,255,0.6);
    font-size: 3em;
    left: 307px;
    bottom: 27px;
    }

    .cardNameButton Button {
    background: #1A5597;
    color: white;
    position: relative;
    font-size: 1em;
    left: 317px;
    bottom: 7px;
    border-radius: 9px;   
    }

    .cardNameContentdos {
       position: absolute;
    display: flex;
    justify-content: right;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 94%;
    }

     .cardNamedos {
    position: relative;
    background: rgba(255,255,255,0.6);
    padding: 2px 7px;
    font-size: 2.8em;
    bottom: 169px;
    }

  .cardNameButtondos  Button {
    background: #FD384C;
    border-radius: 14px;
    color: white;
    font-size: x-large;
    left: 315px;
    }
  
  .imgWrapper{
    padding: 10px 124px;
    background: black;
    border-radius: 12px;
    border-radius: 4px;
  }

}
.cardWrapper{
      position: relative;
      padding: 0 !important;
    }
.paper {
     box-shadow: none !important;
     -webkit-box-shadow: none !important;
     -moz-box-shadow: none !important;
}