@media only screen and (max-width: 767px) {

  .title {
    margin-top: 46px;
    margin-bottom: 20px;
  }
  .cardNameContent {
    position: absolute;
    bottom: 25px;
    right: 10px;
    }

  .cardName {
    position: relative;
    color:white;
    margin-bottom: 5px;
    font-style: normal;
    font-weight: bold;
    font-size: 1.6em;
    font-family: 'Roboto';
    text-align: end;
    background: rgba(0,0,0,0.4);
    }

    .cardNameButton Button {
     background: #1A5597;
    color: white;
    }
  
    .cardNameContentdos {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: right;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 94%;
    }

     .cardNamedos {
    position: relative;
    background: rgba(255,255,255,0.6);
    padding: 2px 3px;
    display: flex;
    margin-left: 7px;
    border-radius: 2px;
    margin-right: 13px;
    font-size: 1.3em;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    align-self: center;
    margin-bottom: 9px;
    }

  .cardNameButtondos  Button {
    background: #FD384C;
    border-radius: 14px;
    color: white;
    }
}


@media only screen and (min-width: 1280px){
  .cardNameContent {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-bottom: 126px;
    margin-left: 216px;
    }

  .cardName {
    position: relative;
    background: white;
    margin-bottom: 20px;
    font-size: 1.6em;
    }

    .cardNameButton Button {
     background: #1A5597;
    color: white;
    margin-bottom: 100px;
   position: relative;    
    }
  
    
}

.cardWrapper{
      position: relative;
      padding: 0 !important;
    }
.paper {
     box-shadow: none !important;
     -webkit-box-shadow: none !important;
     -moz-box-shadow: none !important;
}
@media only screen and (min-width: 1280px){

  .cardsContainer {
    display: flex;
    margin: 0 auto;
    padding: 117px;
    margin-left: 247px;
  }
}