@media only screen and (max-width: 767px) {

  .SnTitle {
    font-size: 1.4em;
    padding: 12px;
    display: flex;
    justify-content: center;
    font-weight: 500;
    margin-bottom: 36px;
    margin-top: 52px;
}
  

  .iconsSnContainer {
       display: flex;
       justify-content: center;
       justify-content: space-evenly;
        margin-bottom: 50px;
  }

  .iconsSn {
    width: 40px;
    height: auto;
  }

  .line {
    width: 29%px;
    height: 1px;
    background: #d6a868;
    max-width: 46%;
    margin: 0 auto;  
  }

  h3.informationTitle {
    font-size: 1.1em;
    padding: 12px;
    display: flex;
    justify-content: center;
    font-weight: 500;

  }
 
}
    
 .root {
  flex-grow: 1;
  padding: 0.5em;
  margin-bottom: 14px;
 }

  .paper{
        padding: 0;
        text-align: center;
        box-shadow: none !important;
  }
  .iconsSn {
    width: 40px;
    height: auto;
  }
  .iconsSnContainer {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
     margin-bottom: 50px;
}
   
@media only screen and (min-width: 1280px){

    .iconsSnContainer {
      display: flex;
      justify-content: center;
      justify-content: space-evenly;
      margin: 0 auto;
      max-width: 50%;
      margin-bottom: 50px;
  }  

  .suscription {
    width: 100%;
    max-width: 40%;
    margin: 0 auto;
  }
} 