@media only screen and (max-width: 767px) {

  .footerTitle {
    margin-left: 23px;
    font-weight: bold;
  }
 .footerkWrapper {
   background: #d6a868;
   padding-top: 2em;
 }

 .aboutWrapper{
    display: flex;
    flex-direction: column;
    margin-left: 23px;
    font-weight: bold;
    line-height: 30px;
  }
 

 .footerIconsContainer{
   display:flex;
  justify-content: center;
  align-items: center;
 }

 .iconsf {
  width: 50px;
  margin-top: 52px;
  margin-bottom: 30px;
 }

 .contactNextia {
   display: flex;
   flex-direction: column;
   align-items: center;
  padding-bottom: 24px;
 }
 
}
    
